<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WebNova</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link href="../css/lightbox.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <!--header-->
    <header class="site-header">
        <div class="container">
            <img src="../assets/images/favicon.png" alt="Logo" class="logo">
            <nav class="bar_nav">
                <a href="../index.html" class="inactive">Inicio</a>
                <a href="galeria.html" class="active">Galería</a>
                <a href="presupuesto.html" class="inactive">Presupuesto</a>
                <a href="contacto.html" class="inactive">Contacto</a>
            </nav>
        </div>
    </header>
    <!--Main contiene encabezado y galeria-->
    <main class="container">
        <div class="encabezado">
            <h1>Galería</h1>
            <p>Haz clic para ampliar las imágenes.</p>
        </div>
        <div id="galeria">
            <a href="../assets/images/software.jpg" data-lightbox="roadtrip" data-title="Venta de software"><img class="image" src="../assets/images/software.jpg" alt="Software"></a>
            <a href="../assets/images/ai-generated.jpg" data-lightbox="roadtrip" data-title="Los mejores expertos"><img class="image" src="../assets/images/ai-generated.jpg" alt="ai-generated"></a>
            <a href="../assets/images/computer-network.jpg" data-lightbox="roadtrip" data-title="Lo ultimo en tecnologia"><img class="image" src="../assets/images/computer-network.jpg" alt="computer-network"></a>
            <a href="../assets/images/computer-repair.png" data-lightbox="roadtrip" data-title="Cyberecurity"><img class="image" src="../assets/images/computer-repair.png" alt="computer-repair"></a>
            <a href="../assets/images/service.jpg" data-lightbox="roadtrip" data-title="Servicio tecnico"><img class="image" src="../assets/images/service.jpg" alt="service"></a>
        </div>
    </main>
<!--Footer-->
    <footer class="footer">
        <div class="footer_container">
            <p class="legal">&copy; Todos los derechos reservados</p>
            <address>WebNova Solutions —Calle Baumgarten 123, CP 6850, Dornbirn</address>
            <div class="socials">
                <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" width="24" height="24" alt="Facebook" ></a>
                <a href="https://x.com/?lang=es"><img src="../assets/images/gorjeo.png" alt="X"></a>
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </footer>
<script src="../js/lightbox-plus-jquery.min.js"></script>
</body>
</html>